# Pandas EDA

Note: If you haven't already done so, be sure to install pandas and matplotlib.

In [ ]:
conda install pandas -y
conda install matplotlib -y

## 1. EDA Demonstration

In [1]:
import pandas as pd

In [2]:
# We will store the table csv data in a variable
url = 'https://raw.githubusercontent.com/python-machine-learning-apps/intro-to-pandas/main/data/orders.csv'

In [3]:
# Tabs are used as the separating character in this file
orders = pd.read_csv(url)

In [4]:
# Use the head method to investigate the first row of data
orders.head()

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,ES-2019-3581298,2019-10-05,2019-10-10,Standard Class,MW-18220,FUR-BO-10002318,1239.84,3,0.25,0.19,NaN,28804.0
1,CA-2018-2597967,2018-12-06,2018-12-08,Standard Class,TS-21430,FUR-FU-10003096,30.36,4,0.28,0.24,NaN,7530.0
2,ES-2017-410130,2017-04-20,2017-04-21,Second Class,ES-14080,OFF-BI-10004007,14.69,1,0.12,0.10,NaN,69959.0
3,IT-2019-1363430,2019-09-03,2019-09-04,Second Class,RP-19390,OFF-BI-10002040,15.40,1,0.15,0.10,NaN,4715.0
4,ID-2018-682568,2018-10-29,2018-10-29,Standard Class,PH-18790,TEC-CO-10000452,656.99,3,0.23,0.19,6824.0,5636.0

In [5]:
# Create a dataframe to view the column names and data types
pd.DataFrame(orders.dtypes, columns=["DataType"])

            DataType
order_id      object
order_date    object
ship_date     object
ship_mode     object
customer_id   object
product_id    object
sales        float64
quantity       int64
discount     float64
profit       float64
postal_code  float64
region_id    float64

In [6]:
# Use the shape attribute to determine the amount of rows and columns total
print(orders.shape)
print(f"There are {orders.shape[0]} rows and {orders.shape[1]} columns")

(5000, 12)
There are 5000 rows and 12 columns

In [7]:
# Use the .columns property to list out the column names
# Use the .index.name property to identify the index
print(orders.columns)
print(orders.index.name)

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id',
       'product_id', 'sales', 'quantity', 'discount', 'profit', 'postal_code',
       'region_id'],
      dtype='object')
None

In [8]:
# Provide a dictionary to the rename method to rename any columns
# The inplace flag determines whether to modify the original dataframe
orders.rename(columns={"discount": "discount_amount",
                       "order_date": "ordered_on_date"},
              inplace=False)

,order_id,ordered_on_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount_amount,profit,postal_code,region_id
0,ES-2019-3581298,2019-10-05,2019-10-10,Standard Class,MW-18220,FUR-BO-10002318,1239.84,3,0.25,0.19,NaN,28804.0
1,CA-2018-2597967,2018-12-06,2018-12-08,Standard Class,TS-21430,FUR-FU-10003096,30.36,4,0.28,0.24,NaN,7530.0
2,ES-2017-410130,2017-04-20,2017-04-21,Second Class,ES-14080,OFF-BI-10004007,14.69,1,0.12,0.10,NaN,69959.0
3,IT-2019-1363430,2019-09-03,2019-09-04,Second Class,RP-19390,OFF-BI-10002040,15.40,1,0.15,0.10,NaN,4715.0
4,ID-2018-682568,2018-10-29,2018-10-29,Standard Class,PH-18790,TEC-CO-10000452,656.99,3,0.23,0.19,6824.0,5636.0
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,IN-2018-63053,2018-12-14,2018-12-16,Same Day,KM-16660,OFF-LA-10003644,54.39,7,0.23,0.19,NaN,1410.0
4996,MX-2019-4981245,2019-11-28,2019-12-01,Standard Class,SC-20725,OFF-AR-10003680,19.74,1,0.15,0.10,78415.0,1488.0
4997,MZ-2019-4195017,2019-06-22,2019-06-26,Same Day,JW-5220,OFF-OIC-10000121,27.72,2,0.05,0.00,80027.0,4553.0
4998,NI-2018-1509129,2018-08-19,2018-08-22,Second Class,MC-7425,TEC-BEL-10003985,621.50,8,0.03,0.00,NaN,19848.0
4999,CA-2017-3999191,2017-11-07,2017-11-12,Standard Class,MS-17830,FUR-FU-10002759,79.92,4,0.27,0.24,NaN,5003.0

In [9]:
orders.head()

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
0,ES-2019-3581298,2019-10-05,2019-10-10,Standard Class,MW-18220,FUR-BO-10002318,1239.84,3,0.25,0.19,NaN,28804.0
1,CA-2018-2597967,2018-12-06,2018-12-08,Standard Class,TS-21430,FUR-FU-10003096,30.36,4,0.28,0.24,NaN,7530.0
2,ES-2017-410130,2017-04-20,2017-04-21,Second Class,ES-14080,OFF-BI-10004007,14.69,1,0.12,0.10,NaN,69959.0
3,IT-2019-1363430,2019-09-03,2019-09-04,Second Class,RP-19390,OFF-BI-10002040,15.40,1,0.15,0.10,NaN,4715.0
4,ID-2018-682568,2018-10-29,2018-10-29,Standard Class,PH-18790,TEC-CO-10000452,656.99,3,0.23,0.19,6824.0,5636.0

In [10]:
# Explore columns with column attributes and methods
# orders['postal_code'].value_counts()
# len(orders['postal_code'].unique())
# orders['postal_code'].nunique()
orders['profit'].describe()

count    5000.000000
mean        1.978328
std        38.126910
min      -734.530000
25%         0.100000
50%         0.200000
75%         0.290000
max      1537.830000
Name: profit, dtype: float64

## 2. Exploring a new dataset

In [12]:
# Import the products.csv dataset and explore the following questions:
products = pd.read_csv('https://raw.githubusercontent.com/python-machine-learning-apps/intro-to-pandas/main/data/products.csv')

In [13]:
# A. What are the columns and index: do they suggest any relationship to other tables?
products.columns

Index(['product_id', 'category', 'sub_category', 'product_name',
       'product_cost_to_consumer'],
      dtype='object')

In [14]:
# B. How many rows of data are there?
products.shape[0]
len(products)

10292

In [15]:
# C. What are the types of each column?
pd.DataFrame(products.dtypes, columns=["DataType"])

                         DataType
product_id                 object
category                   object
sub_category               object
product_name               object
product_cost_to_consumer  float64

In [16]:
products.head(2)

,product_id,category,sub_category,product_name,product_cost_to_consumer
0,FUR-ADV-10000002,Furniture,Furnishings,"Advantus Photo Frame, Duo Pack",53.04
1,FUR-ADV-10000108,Furniture,Furnishings,"Advantus Clock, Erganomic",50.01

## 3. Boolean Filtering

In [17]:
# Let's return to the orders dataset for the rest of the challenges
# Use boolean filtering and DataFrame/DataSeries methods to solve the following challanges:

In [18]:
# A. What is the mean profit of orders where the ship_mode is "Second Class"
orders[orders["ship_mode"] == "Second Class"]["profit"].mean()

0.7557168894289187

In [19]:
orders[orders["ship_mode"] == "Second Class"]["profit"].describe()

count    1646.000000
mean        0.755717
std        32.313797
min      -734.530000
25%         0.100000
50%         0.190000
75%         0.290000
max       992.160000
Name: profit, dtype: float64

In [20]:
# B. What was the busiest day?
orders["order_date"].value_counts().head()

2019-11-18    20
2019-10-29    19
2019-12-06    19
2019-09-25    18
2019-12-03    18
Name: order_date, dtype: int64

In [21]:
orders["order_date"]=='2019-11-18'

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Name: order_date, Length: 5000, dtype: bool

In [22]:
# B. What was the busiest day?
orders[orders["order_date"]=='2019-11-18']["product_id"]

405      OFF-BI-10002424
579      OFF-EN-10003601
977      OFF-BI-10003774
1035     TEC-AC-10001987
1271    OFF-AVE-10000432
1677     OFF-BI-10001670
2500     FUR-CH-10002228
2653     FUR-BO-10003965
2827     TEC-MA-10004125
2980     OFF-BI-10003616
3231     OFF-SU-10001877
3235     OFF-EN-10003601
3308     TEC-AC-10002167
3489     OFF-EN-10001993
3548     FUR-CH-10003817
4072    OFF-HAM-10003872
4264    FUR-SAF-10000565
4488    FUR-NOV-10000847
4552     OFF-EN-10003435
4748     OFF-ST-10003547
Name: product_id, dtype: object

In [23]:
# capture the top date as a variable
top_date = orders["order_date"].value_counts().head(1).index[0]
top_date

'2019-11-18'

In [24]:
# capture the top date as a variable (another way to do this)
top_date = orders.groupby("order_date")["product_id"].nunique().sort_values(ascending=False).head().index[0]
print(top_date)

2019-10-29

In [25]:
# C. Which products were ordered on the busiest day?
orders[orders["order_date"]==top_date]["product_id"].value_counts()

TEC-BEL-10002516    1
OFF-FA-10000563     1
OFF-BIN-10003089    1
OFF-AR-10003962     1
TEC-MA-10002712     1
OFF-LA-10003283     1
FUR-FU-10003608     1
TEC-PH-10004223     1
TEC-PH-10002517     1
OFF-LA-10000244     1
OFF-AR-10002454     1
FUR-BO-10004340     1
TEC-PH-10003177     1
FUR-CH-10004095     1
FUR-CH-10000852     1
FUR-BO-10004459     1
OFF-PA-10002659     1
TEC-MA-10003625     1
OFF-PA-10001722     1
Name: product_id, dtype: int64

## 4. Sorting and Filtering

In [26]:
# A. Who is the top customer?
orders["customer_id"].value_counts().head()

MC-17635    15
SW-20755    14
RB-19795    14
PG-18820    13
PO-18850    13
Name: customer_id, dtype: int64

In [27]:
# save that customer as a variable
top_customer = orders["customer_id"].value_counts().head().index[0]
print(top_customer)

MC-17635

In [28]:
# B. What are the three top orders purchased by top customer?
orders[orders['customer_id'] == top_customer].sort_values(by="profit", ascending=False).head(3)

,order_id,order_date,ship_date,ship_mode,customer_id,product_id,sales,quantity,discount,profit,postal_code,region_id
279,IN-2018-35024,2018-05-13,2018-05-13,Same Day,MC-17635,OFF-BI-10000340,96.6,2,0.30,9.66,NaN,4792.0
4539,IN-2019-3396974,2019-12-26,2019-12-29,Standard Class,MC-17635,FUR-BO-10002204,338.7,2,0.55,0.47,NaN,7494.0
161,MX-2017-607445,2017-09-06,2017-09-11,Standard Class,MC-17635,FUR-BO-10002214,451.6,4,0.42,0.39,41042.0,3688.0

## Recap

We covered a lot of ground! It's ok if this takes a while to gel.

```python

# basic DataFrame operations
df.head()
df.tail()
df.shape
df.columns
df.Index

# selecting columns
df.column_name
df['column_name']

# renaming columns
df.rename({'old_name':'new_name'}, inplace=True)
df.columns = ['new_column_a', 'new_column_b']

# notable columns operations
df.describe() # five number summary
df['col1'].nunique() # number of unique values
df['col1'].value_counts() # number of occurrences of each value in column

# filtering
df[ df['col1'] < 50 ] # filter column to be less than 50
df[ (df['col1'] == value1) & (df['col2'] > value2) ] # filter column where col1 is equal to value1 AND col2 is greater to value 2

# sorting
df.sort_values(by='column_name', ascending = False) # sort biggest to smallest

```


It's common to refer back to your own code *all the time.* Don't hesistate to reference this guide! 🐼