# ![](https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png) 
# Pandas for Exploratory Data Analysis I 
by [@josephofiowa](https://twitter.com/josephofiowa) and _updated B Rhodes (DC)_

Pandas is the most prominent Python library for exploratory data analysis (EDA). The functions Pandas supports are integral to understanding, formatting, and preparing our data. Formally, we use Pandas to investigate, wrangle, munge, and clean our data. Pandas is the Swiss Army Knife of data manipulation!


We'll have two coding-heavy sessions on Pandas. In this one, we'll use Pandas to:
 - Read in a dataset
 - Investigate a dataset's integrity
 - Filter, sort, and manipulate a DataFrame's series

## About the Dataset: Adventureworks Cycles

<img align="right" src="http://lh6.ggpht.com/_XjcDyZkJqHg/TPaaRcaysbI/AAAAAAAAAFo/b1U3q-qbTjY/AdventureWorks%20Logo%5B5%5D.png?imgmax=800">

For today's Pandas exercises, we will be using a dataset developed by Microsoft for training purposes in SQL server, known the [Adventureworks Cycles 2014OLTP Database](https://github.com/Microsoft/sql-server-samples/releases/tag/adventureworks). It is based on a fictitious company called Adventure Works Cycles (AWC), a multinational manufacturer and seller of bicycles and accessories. The company is based in Bothell, Washington, USA and has regional sales offices in several countries. We will be looking at a single table from this database, the Production.Product table, which outlines some of the products this company sells. 

A full data dictionary can be viewed [here](https://www.sqldatadictionary.com/AdventureWorks2014/).

Let's take a closer look at the Production.Product table [data dictionary](https://www.sqldatadictionary.com/AdventureWorks2014/Production.Product.html), which is a description of the fields (columns) in the table (the .csv file we will import below):
- **ProductID** - Primary key for Product records.
- **Name** - Name of the product.
- **ProductNumber** - Unique product identification number.
- **MakeFlag** - 0 = Product is purchased, 1 = Product is manufactured in-house.
- **FinishedGoodsFlag** - 0 = Product is not a salable item. 1 = Product is salable.
- **Color** - Product color.
- **SafetyStockLevel** - Minimum inventory quantity.
- **ReorderPoint** - Inventory level that triggers a purchase order or work order.
- **StandardCost** - Standard cost of the product.
- **ListPrice** - Selling price.
- **Size** - Product size.
- **SizeUnitMeasureCode** - Unit of measure for the Size column.
- **WeightUnitMeasureCode** - Unit of measure for the Weight column.
- **DaysToManufacture** - Number of days required to manufacture the product.
- **ProductLine** - R = Road, M = Mountain, T = Touring, S = Standard
- **Class** - H = High, M = Medium, L = Low
- **Style** - W = Womens, M = Mens, U = Universal
- **ProductSubcategoryID** - Product is a member of this product subcategory. Foreign key to ProductSubCategory.ProductSubCategoryID.
- **ProductModelID** - Product is a member of this product model. Foreign key to ProductModel.ProductModelID.
- **SellStartDate** - Date the product was available for sale.
- **SellEndDate** - Date the product was no longer available for sale.
- **DiscontinuedDate** - Date the product was discontinued.
- **rowguid** - ROWGUIDCOL number uniquely identifying the record. Used to support a merge replication sample.
- **ModifiedDate** - Date and time the record was last updated.

## Importing Pandas

To [import a library](https://docs.python.org/3/reference/import.html), we write `import` and the library name. For Pandas, is it common to name the library `pd` so that when we reference a function from the Pandas library, we only write `pd` to reference the aliased [namespace](https://docs.python.org/3/tutorial/classes.html#python-scopes-and-namespaces) -- not `pandas`.

In [ ]:
import pandas as pd

In [ ]:
# we can see the details about the imported package by referencing its private class propertys:

## Reading in Data

Pandas dramatically simplifies the process of reading in data. When we say "reading in data," we mean loading a file into our machine's memory.

When you have a CSV, for example, and then you double-click to open it in Microsoft Excel, the open file is "read into memory." You can now manipulate the CSV.

When we read data into memory in Python, we are creating an object. We will soon explore this object. _(And, as an aside, when we have a file that is greater than the size of our computer's memory, this is approaching "Big Data.")_

Because we are working with a CSV, we will use the [read CSV](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) method.<br>A [delimiter](https://en.wikipedia.org/wiki/Delimiter-separated_values) is a character that separates fields (columns) in the imported file. Just because a file says `.csv` does not necessarily mean that a comma is used as the delimiter. In this case, we have a tab character as the delimiter for our columns, so we will be using `sep='\t'` to tell pandas to 'cut' the columns every time it sees a [tab character in the file](http://vim.wikia.com/wiki/Showing_the_ASCII_value_of_the_current_character).

In [1]:
# Set the url
url = 'https://raw.githubusercontent.com/python-machine-learning-apps/intro-to-pandas/main/data/Production.Product.csv'

In [ ]:
# read the dataset as a DataFrame into a variable named 'prod'

In [ ]:
# show the head of this dataset

*Documentation Pause*

How did we know how to use `pd.read_csv`? Let's take a look at the [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html). Note the first argument required (`filepath`).
> Take a moment to dissect other arguments and options when reading in data.

We have just created a data structure called a `DataFrame`. See?

In [ ]:
# show the type of this 'prod' dataset
type(prod_df)

## Inspecting our DataFrame: The basics

We'll now perform basic operations on the DataFrame, denoted with comments.

We'll use a few basic commands to quickly size up our data. 

- `.info()` - gives the number of rows and columns as well as the datatype for each column.
- `.describe()` - gives a summary statistics (e.g. mean, count, median and other percentiles)
- `.dtypes` - gives the datatypes of each column
- `.shape` - gives the number of rows and columns in a dataframe
- `.head(n)` & `.tail(n)` - displays the first or last `n` rows of a dataframe.

*Note you'll often see commands written as `df.Method()` or `df.Attribute` commands with () are methods or functions. With no parentheses they are attributes. A method does something; it performs some action. An attribute is a value or characterstic. Attributes do not perform any actions. I'll point these out as we go, but remember this difference.*

**Exercise** display the first 5 rows of the dataset. Type out the command, but before you run it use ```shift-tab``` to view the docstring.

In [ ]:
# Take a quick look to verify the data is what we expect. Display the first 5 rows. 
# Use the simplest form of the method possible.

In [ ]:
# last 3 rows - note we can also transpose the display so we aren't horizontally scrolling.
# this applies to .head() as well.

**Class Question:** 
- What do you think transpose is doing? Does it change the data?

###### `.info()`

`.info()` provides detailed information on the dataframe. It shows:

- number of rows
- number of columns
- type of Index
- datatype of each column
- column names
- count of non-null values in each column

###### `.shape`

`.shape` simply gives us the number of rows and columns. It returns a tuple of the form `(row, column).`

In [ ]:
# identify the shape (rows by columns) - the output is a tuple

Here we have 504 rows, and 25 columns. This is a tuple, so we can extract the parts using indexing:

In [ ]:
# print the number of rows - we can access it just like indexing a list or tuple.

## Using the index
An [index](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.html) is an immutable ndarray implementing an ordered, sliceable set. It is the basic object storing axis labels for all pandas objects. Think of it as a 'row address' for your data frame (table). It is best practice to explicitly set the index of your dataframe, as these are commonly used as [primary keys](https://en.wikipedia.org/wiki/Primary_key) which can be used to [join](https://www.w3schools.com/sql/sql_join.asp) your dataframe to other dataframes.

The dataframe can store different types (int, string, datetime), and when importing data will automatically assign a number to each row, starting at zero and counting up. You can overwrite this, which is what we are going to do.

We imported the data without specifying an index, so Pandas autogenerated one. In the future you'll see examples where the index is specified explicitly in the data and we can tell Pandas to use that.

In [ ]:
# display the index as imported (auto-generated upon import)

In [ ]:
# note that our auto-generated index has no name

In [ ]:
# Here we are looking at two data columns plus the index;
# the one on the left is the index (automatically generated upon import by pandas)
# 'ProductID' is our PK (primary key) from our imported table. 'Name' is a data column.
# Notice that the generated index starts at zero and our PK starts at 1.

In [ ]:
# Setting the index overwrites the automatically generated index
# with our PK, which resided in the 'ProductID' column.

In [ ]:
# Let's just look at the Name column

In [ ]:
# Note how our index property has changed as a result - the values in our index are the ProductID numbers we had originally.

In [ ]:
# And our index has also inherited the name of our 'ProductID' column

## Column headers and datatypes

In [ ]:
# print the columns

In [ ]:
# examine the datatypes of the columns
# note that these were automatically inferred by pandas upon import!

In [ ]:
# Note the output of .dtypes is a Pandas Series.

In [ ]:
# an alternative view as a DataFrame.
# Here we use the pd.DataFrame construct to generate a new dataframe.
# use the shift-tab trick to see look at the docstring to see how this method works

### **Class Question:** 
Why do datatypes matter? What operations could we perform on some datatypes that we could not on others? Note the importance of this in checking dataset integrity.

## Selecting a Column

We can select columns in two ways. Either we treat the column as an attribute of the DataFrame or we index the DataFrame for a specific element (in this case, the element is a column name).

In [ ]:
# Select a single column to display will output a Pandas Series.

We can also reference a specific column using dot notation in the form `df.ColumnName`. Or in our example:
- `prod_df.Name` will display the column as a Pandas Series.

**HINT:** I don't recommend the dot construct `df.ColumnName` because there are cases where it will not work.

**Question**: Under what circumstances might this format not work?

In [ ]:
# We can also reference a specific column with

In [ ]:
# Using double brackets will output a Pandas Dataframe
# Note: to output more than one column you always must use double brackets. See below.

In [ ]:
# Use double brackets to show two or more columns in a dataframe

In [ ]:
# show the difference in data types by using single and double square brackets

In [ ]:
# Often it's easier to define a list with the column names you want to use.

## Renaming Columns

Perhaps we want to rename our columns. There are a few options for doing this.

Rename the columns all the columns or a subset of columns using either a list-based approach or a dictionary based approach.

Here we use a list to rename all the columns.

Note that the `pd.DataFrame.columns` property can be cast to a `list` type. Originally, it's a `pd.core.indexes.base.Index` object:

In [ ]:
# create a new dataframe for demonstration purposes and look at the column names

In [ ]:
# rename the columns to be lower case 
# this is a common use case for list comprehensions - changing column names

We can explicitly cast these to a list object as such, by using the built-in `list()` function:

In [ ]:
# Note that .columns are not list objects

We can also use the list approach to rename some, but not all the columns.

We can also rename **specific** columns by using a dictionary and the `.rename()` method:

In [ ]:
# rename one or more columns with a dictionary. Note: inplace=False will return a new dataframe,
# but leave the original dataframe untouched. Change this to True to modify the original dataframe.

## Common Column Operations

While this is non-comprehensive, these are a few key column-specific data checks.

**Descriptive statistics:**  the minimum, first quartile, median, third quartile, and maximum.

(And more! The mean too.)

Five Number Summary (all assumes numeric data):
- **Min:** The smallest value in the column
- **Max:** The largest value in the column
- **Quartile:** A quartile is one fourth of our data
    - **First quartile:** This is the bottom most 25 percent
    - **Median:** The middle value. (Line all values biggest to smallest - median is the middle!) Also the 50th percentile
    - **Third quartile:** This the the top 75 percentile of our data

![](https://www.mathsisfun.com/data/images/quartiles-a.svg)

In [ ]:
# note - .describe() *default* only checks numeric datatypes
# It will ignore non-numerical data

In [ ]:
# add a .T to display the transpose of the result. It's often easier to read.

In [ ]:
# Quick Exercise:
# show .describe() for the 'MakeFlag', 'SafetyStockLevel', 'StandardCost' fields.

**Value Counts:** `pd.Series.value_counts()` count the occurrence of each value within our series.

In [ ]:
# show the most popular product colors (aggregated by count, descending by default)
# we use the .value_counts() method

**Unique values:** Determine the number of distinct values within a given series.

In [ ]:
# What are the unique colors for the products?
# the method returns the unique values, but not the count of each

In [ ]:
# the attribute gives reference to the method. 
# You want to be careful that you are using the method, so be sure you include the ().

In [ ]:
# how many distinct colors are there?
# .nunique by default doesn't count NaN or null values

In [ ]:
# We can also include nulls with .nunique() as such:

## Filtering on a Single Condition

Filtering and sorting are key processes that allow us to drill into the details and cross sections of our dataset.

One approach to filtering, or selecting subsets of our data, is to use a process called **Boolean Indexing** or **Boolean Filtering**. This is where we define a Boolean condition, and use that Boolean index into our DataFrame.

Recall: our given dataset has a column `Color`. Let's see if we can find all products that are `Black`. Let's take a look at the first 10 rows of the dataframe to see how it looks as-is:

In [ ]:
# show the first 10 rows of the 'Color' column

By applying a `boolean mask` to this dataframe, `== 'Black'`, we can get the following:

In [ ]:
# set the previous output to == Black

Now we can use that 'mask' from above, and apply it to our full dataframe. Every time we have a `True` in a row, we return the row. If we have a `False` in that row, we do not return it. The result is a dataframe that only has rows where `Color` is `Black`:

In [ ]:
# show the full prod DataFrame where Color is Black
# Note I prefer the approach of assigning the boolean condition to a variable and using that variable
# to reference the dataframe. It makes the code easier to read, especially if you have multiple conditions.

In [ ]:
# We can see the resulting dataframe has a shape (93,24)
# This corresponds to the 93 items colored Black we found above with .value_counts().

Let's calculate the **average ListPrice** for the **salable products**.

> Think: What are the component parts of this problem?

In [ ]:
# First, we need to get salable items. 
# Use your data dictionary from the beginning of this lesson.

Now, we need to find average list price of those above items. Let's just get the 'ListPrice' column for starters.

In [ ]:
# note the

To get the average of that column, just take `.mean()`

We can take a shortcut and just use `.describe()` here:

**Sneak peek**: Another handy trick is to use `.hist()` to get a distribution of a continuous variable - in this case, `ListPrice`. We'll cover this visualization more in future lessons:

## Filtering on Multiple Conditions

Here, we will filter on _multiple conditions_. Before, we filtered on rows where Color was Black. We also filtered where FinishedGoodsFlag was equal to 1. Let's see what happens when we filter on *both* simultaneously. 

The format for multiple conditions is:

`df[ (df['col1'] == value1) & (df['col2'] == value2) ]`

Or, more simply:

`df[ (CONDITION 1) & (CONDITION 2) ]`

Which eventually may evaluate to something like:

`df[ True & False ]`

...on a row-by-row basis. If the end result is `False`, the row is omitted.

_Don't forget parentheses in your conditions!_ This is a common mistake.

In [ ]:
# Let's look at a table where Color is Black, AND FinishedGoodsFlag is 1

In [ ]:
# Here we have an example of a list price of greater than 50, 
# OR a product size that is not equal to 'XL'

## Sorting

We can sort the entire DataFrame based on one column in the DataFrame.

In [ ]:
# let's sort by standard cost, descending

This one is a little more advanced, but it demonstrates a few things:
- Conversion of a `numpy.ndarray` object (return type of `pd.Series.unique()`) into a `pd.Series` object
- `pd.Series.sort_values` with the `by=` kwarg omitted (if only one column is the operand, `by=` doesn't need specified
- Alphabetical sort of a string field, `ascending=True` means A->Z
- Inclusion of nulls, `NaN` in a string field (versus omission with a float/int as prior example)

## Independent Exercises

Do your best to complete the following prompts. Don't hesitate to look at code we covered above.

Print the first 4 rows of the whole DataFrame.

In [ ]:
# your answer here

How many rows are in the dataframe? Return the answer as an int.

In [ ]:
# your answer here

How many columns? Return the answer as an int.

In [ ]:
# your answer here

How many different product lines are there?

In [ ]:
# your answer here

What are the values of these product lines?

In [ ]:
# your answer here

Do the number of values for the product lines match the number you have using `.nunique()`? Why or why not?

In [ ]:
# your answer here

Take the output from your previous answer (using `.unique()`). Select the label corresponding to the `Road` product line using list indexing notation. How many characters are in this string?

In [ ]:
# your answer here

Do you notice anything odd about this?

In [ ]:
# your answer here

How many products are there for the `Road` product line? Don't forget what you just worked on above! Return your answer as an int.

In [ ]:
# your answer here

How many products are there in the `Women's Mountain` category? Return your answer as an int. _Hint: Use the data dictionary above!_

In [ ]:
# your answer here

**Challenge:** What are the top 3 _most expensive list price_ product that are either in the `Women's` `Mountain` category, _OR_ `Silver` in `Color`? Return your answer as a DataFrame object, with the `ProductID` index, `NewName` relabeled as `Name`, and `ListPrice` columns. Perform the statement in one execution, and do not mutate the source DataFrame.

In [ ]:
# your answer here

## Recap

We covered a lot of ground! It's ok if this takes a while to gel.

```python

# basic DataFrame operations
df.head()
df.tail()
df.shape
df.columns
df.Index

# selecting columns
df.column_name
df['column_name']

# renaming columns
df.rename({'old_name':'new_name'}, inplace=True)
df.columns = ['new_column_a', 'new_column_b']

# notable columns operations
df.describe() # five number summary
df['col1'].nunique() # number of unique values
df['col1'].value_counts() # number of occurrences of each value in column

# filtering
df[ df['col1'] < 50 ] # filter column to be less than 50
df[ (df['col1'] == value1) & (df['col2'] > value2) ] # filter column where col1 is equal to value1 AND col2 is greater to value 2

# sorting
df.sort_values(by='column_name', ascending = False) # sort biggest to smallest

```


It's common to refer back to your own code *all the time.* Don't hesistate to reference this guide! 🐼